.tittlefont{
    font-family: 'East Sea Dokdo', cursive;
    color: #b61a42;
}

body{
    font-family: 'Homenaje', sans-serif;
    font-size: 30px;
}

#imagepropertys{
    position: relative;
    padding-top: 30px;
}

#idk{
    filter: invert(0%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(656%) contrast(95%);
    transition: all 500ms;
}

#idk:hover{
    filter: invert(80%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(76%) contrast(95%);
    width: calc(220px + 10px)!important;
} 

#idk3{
    filter: invert(0%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(656%) contrast(95%);
    transition: all 500ms;
}

#idk3:hover{
    filter: invert(80%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(76%) contrast(95%);
    max-width: calc(180px + 10px)!important;
}

#idk2{
    filter: invert(0%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(656%) contrast(95%);
    transition: all 500ms;
}

#idk2:hover{
    filter: invert(80%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(76%) contrast(95%);
    height: calc(55px + 1px)!important;
}

#idk1{
    filter: invert(0%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(656%) contrast(95%);
    transition: all 500ms;
}

#idk1:hover{
    filter: invert(80%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(76%) contrast(95%);
}

#xsimagepropertys{
    padding-top: 35px;
    position: relative;
}

#brandpropertys{
    position: absolute;
    padding-left: 60%;
    padding-right: 10%;
    padding-top:15%;
    top: 0%;
    
}

#subtittle2{
    font-size: 45px;
    line-height: 100%;
    font-size: 5vw;
}

@media screen and (max-width: 575px){
    #subtittle2{
        font-size: 8.5vw;
        line-height: 105%;
    }

    #subtittle1{
        font-size: 5vw!important;
    }
}

.mb-n1{
    margin-bottom: -2px !important;
}

.ml-n1{
    margin-left:-30px !important;
    margin-right:-21px !important;
}

.mr-n1{
    margin-left: -30px !important;
    margin-right: -20px !important; 
}

.navbar{
    background-color: #0c1016 !important;
}

.navbarbrand{
    filter: brightness(10);
    transition: all 500ms;
}

.navbarbrand:hover{
    width: 140px;
    filter: brightness(1) !important;
}

.ml-n1inicio{
    margin-left: -800px;
}

.navbarsections{
    margin-left: -15px;
    transition:  500ms;
}

.navbarsections:hover{
    font-size: calc(30px + 10%);
    color: #b61a42 !important;
    filter: brightness(1) !important;
}

.navbarsections1{
    transition: all 500ms;
}

.navbarsections1:hover{
    font-size: calc(5vw + 10%);
    color: #b61a42 !important;
}

.sectionbarclr{
    background-color: #182031;
}

#guitar{
    margin-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
}

#piano{
    margin-top: 40px;
}

#drum{
    margin-top: 40px;
}

.vl{
    border-left: 2px solid #b61a42;
    height: 20px;
    margin-left: -5px;
    margin-right: 8px;
    margin-top: 13px;
}

.btn-normal1{
    background-color: #1e283d !important;
    box-shadow: 0 2px 0 #0c1016;
    border-color: #0c1016 !important;
    font-size: larger;
    font-size: 4vw;
    transition: all 200ms;
    margin-top: -20px;
}

@media screen and (max-width: 575px) {
    .btn-normal1{
        margin-top: -30%;
        font-size: 5vw;
    }

    .btn-normal1:hover{
        background-color: #253046;
        font-size: calc(5vw + 5%) !important;
    }

    #quemeusouxs{
        display: block!important;
        font-size: 5vw;
    }
  }

  #quemeusou{
      display: none;
  }

.btn-normal1:hover{
    background-color: #253046 !important;
    font-size: calc(4vw + 8%);
}

.btn-normal1:focus{
    background-color: #b61a42 !important;
}

#iniciobgimg{
    position: relative;
}

#inicio{
    position: absolute;
    top: 15%;
    max-width: 600px;
    padding-left: 10%;
    font-size: 40px;  
}

html{
    scroll-behavior: smooth;
}



#ideia{
    padding-top: 60px;
    margin-top: -15px;
    margin-right: -13px;
    margin-bottom: -10px;
    margin-left: -17px;
    min-width: 130px;
}

#composição{
    padding-top: 60px;
}

#gravação{
    padding-top: 60px;
    margin-left: 10px;
    margin-right: -10px;
}

#publicação{
    padding-top: 60px;
    margin-left: -18px;
    margin-right: 18px;
}

#saibamaisbtn{
    background-color: #1e283d !important;
    box-shadow: 0 2px 0 #0c1016;
    border-color: #0c1016 !important;
    font-size: 40px;
    margin-top: 20px;
    transition: all 200ms;
    padding-left: 15%;
    padding-right: 15%;
}

#saibamaisbtn:hover{
    background-color: #253046 !important;
    font-size: calc(40px + 8px)!important;
}

#saibamaisbtn:focus{
    background-color: #b61a42 !important;
}

.dropbtn{
    background-color: #0c1016;
    border: none;
    cursor: pointer;
    margin-left: -25px;
}

.dropbtn:focus{
    outline: none !important;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    margin-left: -50px;
    display: none;
    position: absolute;
    background-color: #0c1016;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    padding: 12px 2px 0px 2px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #182031}
  
.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 500px){
    #medio{
        display: none!important;
    }
    #brandpropertys{
        padding-top: 120px !important;
    }
    #xsimagepropertys{
        padding-top: 80px !important;
    }
    .dropdown-content {
        font-size: 5vw;
    }
    .sectionsubtittle{
        font-size: 6vw;
        line-height: 100% !important;
    }
    #brandpropertys{
        margin-left: -10px !important;
    }
    .btn-normal1{
        margin-top: -50px;
    }
    #idk:hover{
        width: calc(220px + 10px)!important;
    }
    #containerdiferentao{
        margin-left: -20px;
    }
    #saibamaisbtn{
        font-size: 6vw;
    }
    #saibamaisbtn:hover{
        background-color: #253046 !important;
        font-size: calc(6vw + 8px)!important;
    }
    .eita{
        margin-top: 0%!important;
    }
    #schopenhauer{
        font-size: 6vw!important;
    }
    .patner img{
        height: 25px !important;
    }
    #maddecent{
        height: 50px !important;
    }
    #colombia{
        height: 55px!important;
    }
    #footersubtittle{
        font-size: 6vw;
    }
    .trassin{
        margin-top: 1%;
    }
    #footerbrand{
        max-width: 30%!important;
    }
    #takabandoLOL{
        display: none;
    }
    #takabandoLOL2{
        display: block;
    }
}

#saibamaisbtn2{
    background-color: #1e283d !important;
    box-shadow: 0 2px 0 #0c1016;
    border-color: #0c1016 !important;
    font-size: 4vw;
    margin-top: 20px;
    transition: all 200ms;
    padding-left: 15%;
    padding-right: 15%;
}

#saibamaisbtn2:hover{
    background-color: #253046 !important;
    font-size: calc(4vw + 5%)!important;
}

#saibamaisbtn2:focus{
    background-color: #b61a42 !important;
}

#saibamaisbtn3{
    background-color: #1e283d !important;
    box-shadow: 0 2px 0 #0c1016;
    border-color: #0c1016 !important;
    margin-top: 20px;
    transition: all 200ms;
    padding-left: 15%;
    padding-right: 15%;
}

#saibamaisbtn3:hover{
    background-color: #253046 !important;
    font-size: calc(6vw + 5%)!important;
}

#saibamaisbtn3:focus{
    background-color: #b61a42 !important;
}

#saibamaisbtn1{
    background-color: #1e283d !important;
    box-shadow: 0 2px 0 #0c1016;
    border-color: #0c1016 !important;
    font-size: 30px;
    margin-top: 20px;
    transition: all 200ms;
    padding-left: 15%;
    padding-right: 15%;
}

#saibamaisbtn1:hover{
    background-color: #253046 !important;
    font-size: calc(30px + 5%)!important;
}

#saibamaisbtn1:focus{
    background-color: #b61a42 !important;
}

.eita{
    line-height: 100%;
}

@media (max-width: 500px){
    #xtrasmall{
        display: block!important;
    }
}

@media (min-width: 501px){
    #xtrasmall{
        display: none!important;
    }
    #idfk{
        padding-right: 0%;
        margin-left: -80%;
        padding-left: 80%;
        margin-right: 0px;
    }
    #pc1{
        max-width: 40%!important;
        margin-right: -80px!important;
    }
    #pc2{
        max-width: 32.5%!important;
        margin-right: -80px!important;
    }
    #pc3{
        max-width: 32.5%!important;
        margin-right: -80px!important;
    }
    #pc4{
        max-width: 32.5%!important;
        margin-right: -80px!important;
    }
    #containerdiferentao{
        max-width: 600px;
    }
    #takabandoLOL{
        display: block;
    }
    #takabandoLOL2{
        display: none;
    }
}

.navbarbrandxs{
    opacity: 50%;
    filter: grayscale(10);
    transition: all 500ms;
}

.navbarbrandxs:hover{
    width: 45px;
    opacity: 100% !important;
    filter: grayscale(0) !important;
}

#section5{
    background-color: #0c1016;
    z-index: -20px;
}

#section6{
    background-color: #253046;
    z-index: 20px;
}

#quemeusou{
    font-size: 40px;
}

.mp{
transition: all 500ms;
cursor: pointer;
filter: brightness(1);
}

.mp:hover{
    filter: brightness(2);
}
.patner img{
    height: 30px;
    width: auto;
    padding: 0% 3% 0% 3%;
    margin-bottom: 5%;
}

footer{
    background-color: #0c1016;
}

.patner2 img{
    max-width: 10%;
    height: auto;
    padding-left: 1%;
    padding-top: 2%;
    padding-right: 1%;
    transition: all 200ms;
    filter: invert(0%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(656%) contrast(95%);
}

.patner2 img:hover{
    filter: invert(80%) sepia(72%) saturate(3558%) hue-rotate(331deg) brightness(76%) contrast(95%);
    margin-top: -2%;
}

#footertext{
transition: color 200ms;
}

#footertext:hover{
    color: #b61a42!important;
}

@media screen and(min-width:606px){
    .bigtexts1{
        display: none!important;
    }
    .bigtexts2{
        display: none!important;
    }
}

@media screen and(max-width:605px){
    .bigtexts1{
        display: none!important;
    }
    .bigtexts2{
        display: none!important;
    }
}

@media (max-width:385px)
{
#pagescrollmt{
    display:none!important;
}
#pagescrollmt1{
    display: block!important;
}
}

#pagescrollmt{
    display:block;
}
#pagescrollmt1{
    display: none;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-width:992px)
{
#pagescrollqs{
    display:none!important;
}
#pagescrollqs1{
    display: block!important;
}
}

#pagescrollqs{
    display:block;
}
#pagescrollqs1{
    display: none;
}
  